services:
  postgres:
    image: postgres:16
    container_name: agendamento-postgres
    environment:
      POSTGRES_DB: db_agendamento
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
